<h1> More stuff will go here eventually </h1>


<%= link_to "Upload a new media file", :new_upload %>
<%= link_to "Upload a new video", :new_video %>

<%= @pictures.each do |element| %>
	<%= element.upload %>
	<%= element.description %>
<% end %>

<%= @videos.each do |element| %>
  	<video controls="controls" src="<%=element.upload%>"></video>
    <%= element.description %>
<% end %>